@import 'tailwindcss';

@theme {
  --color-eerieblack: rgb(28, 28, 34); /* background color, black */
  --color-highlight: rgb(26, 224, 236); /* highlighted words */
  --color-primary: rgb(244, 244, 245); /* primary light text */
  --color-secondary: rgb(197, 197, 210); /* muted color */
}

body {
  background-color: var(--color-eerieblack);
  font-family: 'Figtree', sans-serif;
}
